<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="login-container">
    <h1>Login</h1>
    <form method="POST" action="/signin_submit">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit" name="submit">Login</button>
        <p>
            <a href="/signup">Đăng ký?</a>
        </p>
        <p>
            <a href="/reset">Quên mật khẩu?</a>
        </p>
    </form>
  </div>
  <script src="script.js"></script>
</body>
</html>